@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1110px;
  margin: 0px auto;
  background-color: rgba(235, 249, 255, 0.7);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  height: 100px;
}

button {
  width: 150px;
  background-color: #6ab1d5;
  border: 2px solid #6ab1d5;
  border-radius: 50px;
  color: rgb(24, 9, 37);
  font-size: 1rem;
  margin-right: 10px;
}

img {
  width: 17%;
  position: relative;
  margin-top: 30px;
}

hr {
  width: 100%;
  border: 1px solid rgb(18, 18, 69);
}

span {
  font-family: "Sacramento", sans-serif;
  font-weight: normal;
  font-size: 3rem;
  padding: 60px;
  color: rgb(24, 9, 37);
  position: absolute;
  left: 270px;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  margin-top: 50px;
  padding: 20px;
}

p {
  color: rgb(57, 51, 51);
  padding: 30px;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
}

.st {
  margin-left: 20px;
}

.footer {
  margin-top: 12%;
  height: 67px;
  background-color: rgb(24, 9, 37);
}

a {
  text-decoration: none;
  color: white;
  padding: 0 30px;
  align-items: center;
}

/* taplet responsive */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    height: auto;
  }

  img {
    width: 30%;
  }

  span {
    font-size: 2rem;
    left: 9%;
    padding: 0;
    position: absolute;
    left: 230px;
  }

  h1 {
    font-size: 3.9rem;
    padding: 0 6% 1% 1%;
  }

  .footer {
    margin-top: 10%;
  }
}

/* mopile responsive */
@media (max-width: 376px) {
  .container {
    max-width: 100%;
    height: 100%;
  }

  img {
    width: 40%;
    margin-left: 0;
  }

  span {
    font-size: 2rem;
    left: 9%;
    padding: 0;
    position: absolute;
    left: 130px;
  }

  .footer {
    margin-top: 18%;
  }

  h1 {
    font-size: 3rem;
    padding: 5% 3%;

  }

  button {
    width: 100px;
  }
}