@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: rgb(241, 251, 255); */
}

.container {
    width: 100%;
    /* background-color: rgb(241, 251, 255); */
    background-color: rgba(255, 253, 229,0.2);
}

.container .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.holder .nav img {
    width: 20%;
    height: auto;
    margin-left: 3px;
    position: relative;
}

.brands span {
    font-family: "Sacramento", sans-serif;
    font-size: 3rem;
    color: rgb(35, 5, 61);
    margin-left: 30%;

}

.search {
    width: max-content;
    display: flex;
    align-items: center;
    border-radius: 28px;
    background-color: rgba(146, 139, 139, 0.4);
}

.search span {
    background: transparent;
}

.search input {
    color: #2d2929;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    padding: 10px;
    background: transparent;
}

.search i {
    margin-left: 20px;
    font-size: small;
    background: transparent;
}

.search input::placeholder,
.search i {
    color: rgba(0, 0, 0, 0.25);

}

.acc {
    width: 200px;
    display: flex;
    justify-content: space-around;
    gap: 70px;
    margin-right: 30px;
    font-size: 1.3rem;
    color: rgb(35, 5, 61);
}

.acc i {
    color: rgb(35, 5, 61);
}

hr {
    margin-top: 4px;
    width: 100%;
    border: 1px solid rgb(18, 18, 69);
    font-family: sac;
}

/* styling the article */
.article {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* padding: c; */
}

.article h1 {
    font-weight: bolder;
    font-size: 2rem;
    padding: 30px;
    align-items: center;
}


textarea {
    width: 900px;
    height: 100vh;
    border: none;
    font-size: 1rem;
    color: rgb(50, 51, 60);
    resize: none;
    outline: none;
    line-height: 32px;
    background-color: rgb(241, 251, 255);
    color: rgb(0, 0, 0);
    padding: 30px;

}

textarea::-webkit-scrollbar {
    width: 0;
}

.reactions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    width: 70%;
    margin: auto;
}

.reactions .additional {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding: 0px;
    cursor: pointer;
}

.reactions .additional i {
    color: rgb(35, 5, 61);
}

.like {
    width: 100%;
    display: flex;
}

.like i,
span {
    padding: 3px;
    color: rgb(35, 5, 61);
}

.comment {
    width: 100%;
    display: flex;
}

.comment i,
span {
    padding: 3px;
}
@media (max-width: 1024) {
    .container {
        width: 100%;
        /* background-color: rgb(241, 251, 255); */
    }

    .container nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .brands span {
        font-family: "Sacramento", sans-serif;
        font-size: 2rem;
        padding: 20px;
        margin-left: 0;
    }

    .search {
        display: none;
    }

    .article {
        width: 100%;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .article h1 {
        font-size: 1.5rem;
        /* padding: 20px; */
        align-items: center;
    }


    textarea {
        width: 100vw;
        height: 100vh;
        border: none;
        font-size: 1rem;
        color: rgb(50, 51, 60);
        resize: none;
        outline: none;
        line-height: 32px;
        background-color: rgb(241, 251, 255);
        color: rgb(0, 0, 0);
        padding: 10px;

    }

}

@media (max-width: 768px) {
    .container {
        width: 100%;
        /* background-color: rgb(241, 251, 255); */
    }

    .container nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .brands span {
        font-family: "Sacramento", sans-serif;
        font-size: 2rem;
        padding: 20px;
        margin-left: 0;
    }

    .search {
        display: none;
    }

    .article {
        width: 100%;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .article h1 {
        font-size: 1.5rem;
        /* padding: 20px; */
        align-items: center;
    }


    textarea {
        width: 100vw;
        height: 100vh;
        border: none;
        font-size: 1rem;
        color: rgb(50, 51, 60);
        resize: none;
        outline: none;
        line-height: 32px;
        background-color: rgb(241, 251, 255);
        color: rgb(0, 0, 0);
        padding: 10px;

    }

}

@media (max-width: 376px) {
    .container {
        width: 100%;
        /* background-color: rgb(241, 251, 255); */
    }

    .container nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .brands span {
        font-family: "Sacramento", sans-serif;
        font-size: 2rem;
        padding: 20px;
        margin-left: 0;
    }

    .search {
        display: none;
    }

    .article {
        width: 100%;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .article h1 {
        font-size: 1.5rem;
        /* padding: 20px; */
        align-items: center;
    }


    textarea {
        width: 100vw;
        height: 100vh;
        border: none;
        font-size: 1rem;
        color: rgb(50, 51, 60);
        resize: none;
        outline: none;
        line-height: 32px;
        background-color: rgb(241, 251, 255);
        color: rgb(0, 0, 0);
        padding: 10px;

    }

}