@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1110px;
    height: 90vh;
    margin: 0 auto;
    background-color: rgb(241, 251, 255);
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section .close {
    position: absolute;
    right: 10%;
    top: 19%;
    font-size: 2rem;
    cursor: pointer;
}

.section .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.section .content span {
    font-family: "Sacramento", sans-serif;
    font-weight: normal;
    font-size: 4rem;
    padding: 10px;
    color: rgb(24, 9, 37);

}

/* #sign-in-google {
    width: 200px;
    border: 2px solid gray;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    gap: 20px;
    cursor: pointer;
    padding: 10px;
} */

.outh {
    height: 50vh;
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0.2);
    width: 70%;
    padding: 10px;
    /* margin-bottom: 4rem; */
    text-align: center;
}

.outh input {
    width: 50%;
    height: 30px;
    display: block;
    margin: 10px;
    /* border: 2px solid #6ab1d5; */
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-left: 200px;
}

.outh button {
    width: 40%;
    /* margin-left: 7%; */
    /* border: 2px solid #6ab1d5; */
    border: none;
    border-radius: 10px;
    height: 30px;
    background-color: #6ab1d5;
    cursor: pointer;
    padding: 5px ;
    
}

.outh span {
    font-family: "Sacramento", sans-serif;
    font-weight: normal;
    font-size: 2rem;
    padding: 8px;
    color: rgb(24, 9, 37);
}
#switchForm {
    text-decoration: none;
    cursor: pointer;
}
#switchForm:hover{
    text-decoration: underline;
}

@media (max-width: 768px){
    .container {
            width: 100%;
            margin: 0;
        }
    
        .outh {
            width: 100%;
            margin: 0;
            font-size: 1rem;
            padding: 30px;
        }
    
        .outh input {
            margin-left: 160px;
            width: 60%;
        }
    
        #authSwitch {
            padding-top: 70px;
        }

}

@media (max-width: 376px){
    .container{
        width: 100%;
        margin: 0;
    }
    span{
        padding: 0;
    }
    .outh{
        width: 100%;
        margin: 0;
        font-size: 1rem;
        
    }
    .outh input{
        margin: 20px;
        width: 80%;
    }
    #authSwitch{
        padding-top: 50px;
    }
}